<div *ngIf="message">
  <div
    class="absolute w-full isolate flex items-center gap-x-6 overflow-hidden bg-grey-600 shadow-md px-6 py-2.5 sm:px-3.5 sm:before:flex-1"
  >
    <div
      class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true"
    >
      <div class="bg-blue-900"></div>
    </div>
    <div
      class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true"
    ></div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-red-600">
        <strong class="font-bold">User doesn't exist.</strong>
      </p>
    </div>
    <div class="flex flex-1 justify-end">
      <button
        type="button"
        class="-m-3 p-3 focus-visible:outline-offset-[-4px]"
        (click)="closeBanner()"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="h-5 w-5 text-gray-900"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="text-3xl font-black text-center">
      <span class="text-orange-700">Rev</span>
      <span class="text-blue-900">Pay</span>
    </h1>
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in
    </h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      class="space-y-6"
      (ngSubmit)="onSubmit(form)"
      #form="ngForm"
      id="sign-in"
    >
      <div>
        <label
          for="username"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Username</label
        >
        <div class="mt-2">
          <input
            [ngClass]="{ 'ring-red-600': form.submitted && username.errors }"
            #username="ngModel"
            [(ngModel)]="model.username"
            id="username"
            name="username"
            type="username"
            autocomplete="username"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <div
            *ngIf="form.submitted && username.errors"
            class="text-xs text-red-600 py-2 font-semibold"
          >
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
        </div>
        <div class="mt-2">
          <input
            [ngClass]="{ 'ring-red-600': form.submitted && password.errors }"
            #password="ngModel"
            [(ngModel)]="model.password"
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <div
            *ngIf="form.submitted && password.errors"
            class="text-xs text-red-600 py-2 font-semibold"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <button form="sign-in" type="submit" class="flex-grow">Sign in</button>
      </div>
      <div>
        <a
          routerLink="/sign-up"
          class="flex w-full justify-center rounded-md bg-blue-900 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Sign up</a
        >
      </div>
    </form>
  </div>
</div>
